<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="DataAccessComponents" value="..\..\..\..\..\..\Bin\Debug\Server\DataAccessComponents\"/>
  </appSettings>
  <connectionStrings>
    <add name="ISPContext" connectionString="Data Source=192.168.37.113;Initial Catalog=ISP;User=sa;Password=sa;Integrated Security=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>  
</startup></configuration>
